
  .footer {
    height: 150px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
 .copy-right {
     position: absolute;
    height: 100px;
    bottom: 0px;
    background: var(--footer-color);
    width: 100%;
  }
 