

.form-content {
    min-height: 750px;
}
.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-default {
    background: var(--mm-color) !important;
}
.form-navbar {
    background: transparent;
    border: none;
    background-color: var(--button-color);
    background-color: var(--mm-color);
    height: 60px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 0px 0px 0px;
    font-size: 18px;
    line-height: 20px;
    width: 135px;
    margin-left: 0px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -120px;
    margin-left: auto;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.form-header .navbar-brand {
    height: 80px;
}

.form-header .navbar-brand img {
    height: 40px;
    margin-top: 5px;
    width: 120px;
}
.content-panel {
    padding: 60px 20px 40px;
}
.login-form .form-control {
    height: 45px;
    border-radius: 2px;
    box-shadow: none;
    color: var(--bg-font-color);
    background-color: var(--bg-color) !important;
    background-image: none;
    border: 1px solid hsla(0, 0%, 100%, .1);
}
.no-pad {
    padding: 0;
}

.billing-white-bg {
    margin-top: 40px;
}
.card-bg {
    background: black;
    margin-left: 10px;
}
.spacing1 {
    padding: 30px;
    color: white;
}
.card-white-bg {
    color: var(--mm-font-color);
    padding: 15px;
}
.btn {
    font-weight: 600 !important;
    color: black;
    margin-left: 273px;
}
td:nth-child(odd) {
   // text-align: left;
    margin-right: 5%;
}
td:nth-child(even) {
    //text-align: left;
    margin-left: 5%;
}
tr {
    height: 30px;
}
.content-wrapper {
    margin: 60px 0 40px;
    // background-color: rgba(128, 128, 128, 0.863);
    background-color:grey;
    margin: 0px;
}

