<div  *ngIf="data === 'student'">
    <h5>Dashboard  Notification</h5>
    <h6>Are you sure want to go to Student List?</h6>
    <div class="buttons">
        <button mat-button (click)="submit()">Yes</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </div>
</div>


<div  *ngIf="data === 'teacher'">
    <h5>Dashboard Notification</h5>
    <h6>Are you sure want to go to Teacher List?</h6>
    <div class="buttons">
        <button mat-button (click)="submit()">Yes</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </div>
</div>